<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  ouzelia*-1860
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <!--連接ACCESS数据库-->
    <!--<add key="ConnStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data source="/>
    <add key="DbPath" value="App_Data\db.mdb"/>-->
    <add key="ConnStr" value="server=121.40.80.65;database=TouNaoFengBao;User Id=TNFB;pwd=TouNaoFengBao123"/>
    <add key="ToolUrl" value="http://localhost:5811"/>
    <!--上传文件格式-->
    <add key="Format" value="zip,text,rar"/>
    <!--Js,Css版本更新刷缓存-->
    <add key="version" value="1.2"/>
    <!--cookie有效期-->
    <add key="LoginTimeOutMinutes" value="1140"/>
    <add key="WebTitle" value="车行核销商城"/>
    <add key="IsShowMoney" value="yes"/>
    <!--<add key="WeixinToken" value="0e81bfcf79c9212a276700a307a3wsf3" />
    <add key="WeixinEncodingAESKey" value="CByXMDKflZMK9PR2DRUZP0kyCy2xbsEMcVACAew1G4R" />
    <add key="WeixinAppId" value="wx16278414d909f8bd" />
    <add key="WeixinAppSecret" value="d7f7a9815fe61d55b793216b498f8bf8" />
    -->
    <add key="ImgUrl" value="https://wxx.5tan.com/"/>
    <!-- 公众号配置 begin -->
    <add key="AppId" value="wxd64b837bdc3bbae2"/>
    <add key="Secret" value="0a227d554246390ff0f6c6563a772a3f"/>
    <add key="Token" value="cp3alvff03fs0pddfht5vnz0zhe4cv5s"/>
    <add key="EncodingAESKey" value="H5wJeAp9fswgh0khvyiQmRAASSvnIShbhOpDUkTNySH"/>
    <add key="OpenURL" value="https://api.weixin.qq.com/sns/jscode2session"/>
    <add key="ClientIp" value="112.67.95.156"/>
    <add key="RedPackToplimit" value="200"/>
    <add key="IsLogRequestTime" value="true"/>
    <add key="rows" value="20"/>
    <add key="IsWeiXin" value="no"/>
    <add key="WebUrl" value="http://localhost:5811"/>
    <add key="OpenId" value="63ac41e3e1aaff1b5cb14a84440420cc"/>
    <add key="Avatar" value="https://wx.qlogo.cn/mmopen/vi_32/XAxTcGFpib3oGg0j06kqC530Psdno1UR4wiaL66NYlMicSDuXaHfic3QzvllkFmHpBIOMWxBLrEfqPiadAavNt0BEhQ/132"/>
    <add key="NickName" value="杰"/>
    <!-- 公众号配置 end -->
    <!-- 小程序配置 begin -->
    <!--<add key="XcxAppId" value="wx1ef730d360d1d224" />
  <add key="XcxSecret" value="06e01a40ff33a77d9018dce790fcfc06" />-->
    <add key="XcxAppId" value="wxbf0f3aac679eb891"/>
    <add key="XcxSecret" value="16c76f5e1a7d6041a62e42706ca86453"/>
    <add key="XcxOpenUrl" value="https://api.weixin.qq.com/sns/jscode2session"/>
    <!-- 小程序配置 end -->
    <!-- 微信支付V3 商户ID-->
    <!--<add key="TenPayV3_AppSecret" value="9m99E5yCB9dBVjwXJ1258X74J1hydB68"/>-->
    <add key="TenPayV3_MchId" value="1607088739"/>
    <add key="TenPayV3_Key" value="As9m99E5yCB9dBVjwXJ1258X74J1hydB"/>
    <add key="TenPayV3_AppId" value="wx1ef730d360d1d224"/>
    <add key="TenPayV3_AppSecret" value="06e01a40ff33a77d9018dce790fcfc06"/>
    <add key="TenPayV3_TenpayNotify" value="https://wxx.5tan.com/WxXcx/PayNotifyUrl"/>
    <!--邮箱配置 begin-->
    <add key="IsSendEMail" value="yes"/>
    <add key="EMailSmtp" value="smtp.126.com"/>
    <add key="EMailPort" value="465"/>
    <add key="EMailSend" value="cristianojzhou@126.com"/>
    <add key="EMailOrg" value="车行核销商城"/>
    <add key="EMailName" value="cristianojzhou"/>
    <add key="EMailPWD" value="zaqwe123"/>
    <add key="EMailKF" value=""/>
    <!--邮箱配置 end-->
  </appSettings>
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms"/>
    <trace enabled="false" pageOutput="true" writeToDiagnosticsTrace="true"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime maxRequestLength="1000000" executionTimeout="2000" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add namespace="Commons" assembly="Commons" tagPrefix="mvc"/>
      </controls>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="StateServer" customProvider="DefaultSessionProvider" timeout="180">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <httpModules>
      <!--<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />-->
    </httpModules>
    <!-- Memcached 配置-->
    <!--<sessionState customProvider="Memcached" mode="Custom">
      <providers>
        <add name="Memcached" type="Enyim.Caching.Web.MembaseSessionStateProvider, Enyim.Caching.Web" />
      </providers>
    </sessionState>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <dependentAssembly>
      <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
      <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
    </dependentAssembly>
  </runtime>
</configuration>
<!--ProjectGuid: 3A22592E-A8A2-4938-8D47-826CC6B3D750-->